
.container {
    padding: 0 5%;
}

.produto {
    font-size: 16px;
}

.produto h1 {
    font-size: 2.5em;
}

.produto p {
    font-size: 1.5em;
}

.inputCor {
    display: none;
}
.cores {
    position: relative;
    padding-top: 3.125em;
}

.cores label:after {
    content: "";
    display: inline-block;
    height: 2.8125em;
    width: 2.8125em;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    top: 1em;
}

.cores input:checked + label:after {
    padding: 10px;
    border: 5px solid black;
}

.cores input:not(:checked) + label img {
    display: none;
}

.cores label[for=verde]:after {
    background-color: #00FF00;
    left: 0;
}

.cores label[for=azul]:after {
    background-color: #0000FF;
    left: 3.75em;
}

.cores label[for=rosa]:after {
    background-color: #ff0000;
    left: 7.5em;
}

.tamanho {
    padding: 1em 0;
    margin-top: 1em;
}

.btnComprar {
    font-size: 2em;
    display: block;
}



@media(min-width: 700px){
    .produto {
        font-size: 14px;
    }
}

@media(min-width: 1000px){
    .container {
        width: 940px;
        margin: 0 auto;
    }
}

@media(min-width: 628px){

    .produto {
        padding-left: 50%;
        position: relative;
        margin-bottom: 15.5em
    }

    .cores {
        position: static;
        padding: 0;
        display: inline;
    }

    .cores img {
        position: absolute;
        left: 0;
        top: 0;
        /* height: 100%; */
        
        max-width: 48%;
    }

    .cores label:after {
        position: static;
    }

    .tamanho {
        display: inline;
    }
}

td:nth-child(1) {
    font-style: italic;

}

td:nth-child(2) {
    font-weight: bold;
}

tbody tr:nth-child(2n+1) {
    background: rgba(0,0,0,.5);

}