.tables {
  text-align: justify;
  padding-top: 20px;
}

.tables-item {
  display: inline-block;
  width: 200px;
  height: 200px;
  color: white;
  font-size: 24px;
}

.ultimaLinha {
  display: inline-block;
  width: 100%;
}

p {
  font-size: 24px;
  text-align: justify;
}

.tables-item-1 {
  background-color: red;
}

.tables-item-2 {
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}

.tables-item-3 {
  margin-left: auto;
  background-color: blue;
}
